
<div class="col-xs-6 col-xs-offset-3">
	<img src="../../fstv-small.png" class="img-responsive">
</div>
<div class="col-xs-12">
	<h2 class="display-4 text-center">New season starring {{group.name}}</h2>
</div>
<div class="col-xs-4 col-xs-offset-4">

<uib-accordion close-others="oneAtATime">
<div uib-accordion-group class="panel-default" is-open="status.open">
  <uib-accordion-heading>View matches<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
  </uib-accordion-heading>
  <li class="list-group-item text-center" ng-repeat="user in groupUsers">{{user}}</li>
</div>
</uib-accordion>

<!-- <div uib-accordion-group class="panel-default" heading="View matches">
	<ul class="list-group">
	  <li class="list-group-item text-center" ng-repeat="user in groupUsers">{{user}}</li>
	</ul>
</div>
 -->